.container  {
    width:  1000px;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-group {
    width: 60%;
    margin-bottom: 15px;
}

.form-label {
    width: 5%;
    margin-left: 15px;
}

.check-group {
    margin-bottom: 15px;
    position: relative;
    left: 100px;
}

.time-group {
    margin-bottom: 15px;
    position: relative;
    left: 5px;
}




