.container  {
    width:  1000px;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    left: 50px;
}

.contact-group {
    margin-bottom: 15px;
    position: relative;
    left: 590px;
}

.check-group {
    margin-bottom: 15px;
    position: relative;
    left: 110px;
}

.course-group {
    margin-bottom: 15px;
    position: relative;
    left: 170px;
}

.form-label {
    width: 5%;
    margin-left: 5px;
}

.submit {
    width:  30%;
    position: relative;
    left: 290px;
}

