.heading {
    width:96%;
    height:100px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#logo {
    width: 92px;
    height: 82px;
    position: relative;
    top:11px;
    left:31px;
}

h1 {
    position: relative;
    left: 400px;
    bottom: 98px;
    font-size: 50px;
    font-family: "Open Sans";
}

.rectangle {
    width: 96%;
    height: 400px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
    overflow-y: scroll;
}

#img1 {
    position: relative;
    left: 885px;
    bottom: 335px;
}

#para1 {
    margin-left: 30px;
    margin-top: 20px;
    width: 69%;
    font-family: "Open Sans";
}

h2 {
    margin-left: 30px;
    font-size: 30px;
}