.heading {
    width:96%;
    height:100px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#logo {
    width: 92px;
    height: 82px;
    position: relative;
    top:11px;
    left:31px;
}

.rectangle {
    width: 96%;
    height: 400px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

h1 {
    position: relative;
    left: 400px;
    bottom: 98px;
    font-size: 50px;
    font-family: "Open Sans";
}

a {
    color: #008000;
}

  address {
      width:45%;
      height: 250px;
      background-color: #D3D3D3;
      position: relative;
      left: 350px;
  }

#link {
    position: relative;
    left: 200px;
}

#parent {
    position: relative;
    left: 100px;
}

h4 {
    position: relative;
    left: 120px;
    top: 25px;
    font-size: 20px;
}

h2 {
    position: relative;
    left: 30px;
    font-size: 35px;
}