.container  {
    width:  1252px;
    height: 625px;
    background-color:#696969;
    padding-top: 25px;
}

#rectangle1{
    width:1162px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    margin-bottom: 25px;
}

#rectangle2{
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
}

#rectangle3{
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 297px;
    bottom: 100px;
}

#rectangle4{
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 594px;
    bottom: 200px;
}

#rectangle5{
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 891px;
    bottom: 300px;
}

#rectangle6{
    width:569px;
    height:225px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    bottom: 275px;
}

#rectangle7{
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 594px;
    bottom: 500px;
}

#rectangle8 {
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 891px;
    bottom: 600px; 
}

#rectangle9 {
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 594px;
    bottom: 575px;  
}

#rectangle10 {
    width:272px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    left: 891px;
    bottom: 675px;
}

#rectangle11 {
    width:1164px;
    height:100px;
    background: #FFFFFF;
    margin-left: 50px;
    position: relative;
    bottom: 650px;
    
}