.heading {
    width:96%;
    height:100px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#logo {
    width: 92px;
    height: 82px;
    position: relative;
    top:11px;
    left:31px;
}

h1 {
    position: relative;
    left: 400px;
    bottom: 98px;
    font-size: 50px;
    font-family: "Open Sans";
}

.rectangle1 {
    width: 25%;
    height: 400px;
    border-style: solid;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#services {
    position: relative;
    left:100px;
    top: 100px;
    font-family: "Open Sans";
    font-size: 25px;
}

a:hover {
    color: #FF0000;
  }

#about-us {
    position: relative;
    left:100px;
    top: 160px;
    font-family: "Open Sans";
    font-size: 25px;
}

#contact-us {
    position: relative;
    left:90px;
    top: 220px;
    font-family: "Open Sans";
    font-size: 25px;
}

.rectangle2 {
    width: 69%;
    height: 400px;
    border-style: dashed;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    left: 340px;
    bottom: 425px;
    overflow-y: scroll;
}

#para1 {
    margin-left: 70px;
    margin-top: 20px;
    width: 79%;
    font-family: "Open Sans";
}

h2 {
    text-align: center;
    font-size: 40px;
}