.container  {
    width:  100%;
    height: 550px;
    background-color:#000000;
    padding-top: 5px;
}

#rect1 {
    width:12%;
    height:180px;
    background: #FFF8DC;
    margin-left: 5px;
    margin-bottom: 20px;
}

#rect2 {
    width:12%;
    height:200px;
    background: #FFF8DC;
    margin-left: 5px;
    margin-bottom: 15px;
}

#rect3 {
    width:12%;
    height:130px;
    background: #4682B4;
    margin-left: 5px; 
}

#rect4 {
    width:86%;
    height:400px;
    background: #FF0000;
    margin-left: 10px;
    position: relative;
    left: 162px;
    bottom: 545px; 
}

#rect5 {
    width: 83%;
    height: 130px;
    background: #FFF8DC;
    margin-left: 10px;
    position: relative;
    left: 160px;
    bottom: 530px;
}

#rect6 {
    width: 2%;
    height: 60px;
    background: #FFF8DC;
    margin-left: 10px;
    position: relative;
    left: 1225px;
    bottom: 660px;
}

#rect7 {
    width: 2%;
    height: 55px;
    background: #FFFF00;
    margin-left: 10px;
    position: relative;
    left: 1225px;
    bottom: 645px; 
}