.heading {
    width:  99%;
    height: 90px;
    background-color:#87CEFA;
    margin-left: 10px;
    margin-top: 10px;
}

#nav-bar {
    padding-top: 35px;
    text-align: center;
    font-size: 25px;
}

.droplink {
  background-color: #87CEFA;
  font-size: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #87CEFA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #0000FF;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color:#87CEFA;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #87CEFA;}

a {
    color: #0000FF;
  }

  a:hover {
    color: #FF0000;
  }

.container {
    width : 99%;
    height: 500px;
    background-color: #9370DB;
    padding-top: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

#img1 {
    margin-left: 45px;
    width: 350px;
    height: 200px;
}

#para1 {
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    bottom: 230px;
    left: 445px;
}

#para2 {
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    bottom: 230px;
    left: 45px;
}
  