#rectangle1 {
    width: 100%;
    height:80px;
    background-color:#ADD8E6;
}

#title0 {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 15px;
}

#rectangle2 {
    background-color:#90EE90 ;
    width: 82%;
    height: 300px;
}

#rectangle3 {
    background-color:#FFFFFF ;
    width: 990px;
    height: 135px; 
    margin-left: 10px;
    position: relative;
    top:10px;
}

#rectangle4 {
    background-color:#FFFFFF ;
    width: 990px;
    height: 135px; 
    margin-left: 10px;
    position: relative;
    top:20px; 
}

#title1 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px; 
}

#para1 {
    position: relative;
    top: 35px;
    left: 15px; 
}

#title2 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px;
}

#para2 {
    position: relative;
    top: 35px;
    left: 15px;  
}

#rectangle5 {
    width: 20%;
    height: 300px;
    background-color: #FFC0CB;
    position: relative;
    left: 1011px;
    bottom: 300px;
}

#title3 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px;
}

#para3 {
    position: relative;
    top: 35px;
    left: 6px; 
}