.heading {
    width:100%;
    height:20px;

}

#btn-grp1 {
    width: 39px;
    height: 17px;
    position: relative;
    left: 500px;
    bottom: 25px;
    text-decoration: none;
    border: 2px solid #000000;
    
}

#btn-grp1 a{
    text-decoration: none;
    color: #000000;
}

#home-link:hover{
    background-color: #0000FF;
    color: #ffffff;
}

#btn-grp2 {
    width: 59px;
    height: 32px;
    position: relative;
    left: 543px;
    bottom: 45px;
    text-decoration: none;
    border: 2px solid #000000;
}

#btn-grp2 a{
    text-decoration: none;
    color: #000000;
}

#about-link:hover {
    background-color: #0000FF;
    color: #ffffff;
}

#btn-grp3 {
    width: 50px;
    height: 20px;
    position: relative;
    left: 605px;
    bottom: 81px;
    text-decoration: none;
    border: 2px solid #000000;
}

#btn-grp3 a{
    text-decoration: none;
    color: #000000;
}

#contact-link:hover{
    background-color: #0000FF;
    color: #ffffff;
}

#log-in {
    width: 568px;
    height: 19px;
    position: relative;
    left: 659px;
    bottom: 105px;
    background-color: #808080;
    color:#0000FF;
    border: 2px solid #000000;
    text-align: center;
}

#black-panther {
    width: 470px;
    height: 20px;
    position: relative;
    left: 28px;
    background-color: #808080;
    color: #000000;
    border: 2px solid #000000;
    text-align: center;
}

.container {
    width: 1200px;
    height: 1050px;
    margin-top: 0px;
    background-color: #D3D3D3;
    margin-left: 27px;
    border: 2px solid #000000;
    position: relative;
    bottom: 2px;
}

.rect1 {
    width: 1000px;
    height: 350px;
    background-color: #ffffff;
    position: relative;
    top: 60px;
    left: 100px;
    border: 2px solid #000000;
}

 h2 {
     position: relative;
     top: 20px;
     text-align: center;
     font-size: 70px;
 }

 .rect1 p {
    text-align: center;
    font-size: 25px;
 }

 .rect2 {
     width: 900px;
     height: 550px;
     background-color: #ffffff;
     border: 2px solid #000000;
     margin-top: 90px;
     position: relative;
     left: 145px;
 }

 .rect2a {
     width: 675px;
     height: 550px;
     border: 2px solid #000000;
 }

 h3 {
     margin-left: 25px;
     font-size: 35px;
     margin-top: 30px;
 }

 .e1 {
    width: 190px;
    height: 120px;
    position: relative;
    left:130px;
    bottom: 74px;
 }

 #img1 {
     width: 90px;
     height: 70px;
     position: relative;
     left: 30px;
 }
 
 .e2 {
    width: 190px;
    height: 120px;
    position: relative;
    left:450px;
    bottom: 270px;
 }

 #img2 {
    width: 90px;
    height: 70px;
    position: relative;
    left: 350px;
    bottom: 195px;
 }

 .e3 {
    width: 190px;
    height: 120px;
    position: relative;
    left:130px;
    bottom: 265px;
 }

 #img3 {
    width: 90px;
    height: 70px;
    position: relative;
    left: 30px;
    bottom: 190px;
 }

 .e4 {
    width: 190px;
    height: 120px;
    position: relative;
    left:450px;
    bottom: 460px;
 }

 #img4 {
    width: 90px;
    height: 70px;
    position: relative;
    left: 350px;
    bottom: 383px;
 }

 .rect2b {
     width: 225px;
     height: 550px;
     border: 2px solid #000000;
     position: relative;
     left: 675px;
     bottom: 556px;
 }

 #contact {
    border: 1px solid #000000;
    background-color: #808080;
    color: #000000;
    font-size: 20px;
    position: relative;
    top: 45px;
    left: 35px;
 }

 .places {
     position: relative;
     left: 30px;
     top: 80px;
 }

 #past {
     position: relative;
     left: 55px;
     top: 70px;
 }

 .past-events{
     width: 150px;
     height: 90px;
    border: 1px solid #000000;
    position: relative;
    left: 30px;
    top: 90px;
 }

 .past-events a{
     font-size: 16px;
     text-decoration: none;
     font-weight: bold;
 }

 .rect3 {
    width: 1199px;
    height: 480px;
    border: 2px solid #000000;
    position: relative;
    top: 53px;
 }

 .about-us {
    position: relative;
    left: 125px;
    top: 55px;
}

.markets {
    position: relative;
    left: 300px;
    bottom: 55px;
}

.platforms {
    position: relative;
    left: 460px;
    bottom:164px;
}

.contact-us {
    position: relative;
    left: 630px;
    bottom: 275px;
}

#global {
    float: right;
}