.container  {
    width:  1000px;
    padding: 0px 0px;
}

.topnews {
    width: 20%;
    padding-left: 15px;
    margin-left: 30px;
    float: left;
    position: relative;
    top: 140px;
    background-color: #f0f0f0;
    height: 510px;
}

.heading-group {
    width: auto;
    position: relative;
    left: 900px;
}

.right-group {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    position: relative;
    top: 140px;
    right: 40px;
    background-color: #f0f0f0;
    height: 510px;
}

.images-group {
    width: 115%;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}

.stories-group {
    margin-left: 10px;
}

.middle-group {
    padding-left: 270px;
    position: relative;
    top: 140px;
}

.middle-bottom {
    width: 10%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    position: relative;
    right: 180px;
    bottom: 150px;
}

.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 90px;
    height: 180px;
    position: relative;
    left: 145px;
    bottom: 160px;
}

.middle-bottom1 {
    width: 20%;
    float: right;
    position: relative;
    left: 70px;
    bottom: 155px;
}

.link1 {
    width: 32%;
}   

.stories-group {
    display: inline-block;
    margin-left: 20px;
     max-width: 260px;
}

.stories-group1 {
    max-width: 260px;
}

.stories-group2 {
    max-width: 260px;
    position: relative;
    left: 275px;
    bottom: 35px;
}

.stories-group3 {
    max-width: 260px;
    position: relative;
    left: 545px;
    bottom: 72px;
}

.stories-group4 {
    max-width: 260px;
    position: relative;
    left: 805px;
    bottom: 110px;
}

