.container  {
    width:  1000px;
    padding: 40px 20px;
    margin: 8px 0;
    
}

.heading-group {
    width: 60%;
    position: relative;
    left: 400px;
    bottom: 90px;
}

.address-group {
    margin-bottom: 15px;
    position: relative;
    left: 1060px;
}

.fit-picture {
    position: relative;
    left: 50px;
    top: 70px;
}

.tools-group{
    width:  30%;
}

