.container  {
    width:  1000px;
    padding: 40px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-group {
    width: 60%;
    margin-bottom: 20px;
}

.form-label {
    width: 5%;
    margin-left: 5px;
}

.heading {
    width:  30%;
    margin-left: 40px;
}

.submit {
    width:  30%;
    margin-left: 140px;
}